<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/d02</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- 生成表结构的策略 -->
        <property name="hbm2ddl.auto">update</property>
        <!-- 自动提交事务 -->
        <property name="hibernate.connection.autocommit">true</property>
        <!-- 关联orm文件 -->
        <mapping resource="com/cll/a_hello/User.hbm.xml" />
        <mapping resource="com/cll/domain/Customer.hbm.xml"></mapping>
        <mapping resource="com/cll/domain/Order.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>